<div class="container">
    <section class="testimonial py-5 d-flex align-items-center"
        id="testimonial">
        <div class="row mt-5 offset-md-1 col-md-10">
            <div class="col-md-5 py-5 bg-primary text-white text-center ">
                <div class=" ">
                    <div class="card-body">
                        <h2 class="py-3 register-text">Create quiz</h2>
                        <p class="register-text">Create your quiz.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-7 py-5 border registration-form">
                <h4 class="pb-4 text-center"><b> Add Questions</b></h4>
                <div class="container">
                    <form method="POST" action="" class="question-form">
                        {% csrf_token %}
                        <input type="hidden" id="quiz-id" name="quiz-id"
                            value="{{ id }}">
                        <input type="hidden" id="question-id" name="question-id"
                            value="p{{hex}}">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <input type="text" class="form-control"
                                    placeholder="Question" name="question">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="btn-group btn-group-toggle col-md-12"
                                role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-danger"
                                    id="1">Text</button>
                                <button type="button" class="btn btn-danger"
                                    id="2"
                                    onclick="questionType()">True/False</button>
                                <button type="button" class="btn btn-danger"
                                    id="3" onclick="questionType()">Single
                                    choice</button>
                                <button type="button" class="btn btn-danger"
                                    id="4" onclick="questionType()">Multiple
                                    choice</button>
                            </div>
                        </div>
                        <div class="form-row col-md-12" id="question-option">

                        </div>
                </div>
                </form>
            </div>
        </div>
</div>
</section>
</div>