{% extends 'navbar.html' %}
{% block app %}
<div class="container">
    <div class="row">
        <form action="" method="POST" class="answer-form">
            {% csrf_token %}
            {% for problem in question %}
            {% if problem.ques_type.name == 'Text' %}
            <div class="col-md-12">
                <h3>{{problem.ques_text}}</h3>
                <input type="text" class="form-control" name="answer"
                    placeholder="your answer">
            </div>
            {% endif %}
            {% endfor %}
            <button class="btn btn-success" onclick="answerSubmission()"
                type="button">Post</button>
    </div>
    </form>
</div>
{% endblock  %}