{% extends 'base.html' %} {% load static %} {% block style %}
<link href="{% static 'user/dashboard.css' %}" rel="stylesheet">
<style>
    body {
        background-image: url('../../static/user/images/dashback.jpg');
        background-size: cover;
    }
</style>
{% endblock %} {% block content %}
<div class="page-wrapper chiller-theme toggled" id="dashboard-content">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a href="#" onclick="dashboard()">Dashboard</a>
                <div id="close-sidebar">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="sidebar-header">
                <div class="user-pic">
                    <img class="img-responsive img-rounded"
                        src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
                        alt="User picture">
                </div>
                <div class="user-info">
                    <span class="user-name"
                        style="text-transform: uppercase;">{{user.username}}
                    </span>
                    <span class="user-role">Quiz Creator</span>
                </div>
            </div>
            <!-- sidebar-header  -->
            <div class="sidebar-menu">
                <ul>
                    <li class="header-menu">
                        <span>General</span>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#" onclick="createQuiz('create_quiz.html')"
                            id="dashboard-links"> <i <i
                                class="fa fa-question-circle"></i><span>Create
                                Quiz</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#" id="dashboard-links">
                            <i class="fa fa-briefcase" aria-hidden="true"></i>
                            <span>Results</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#" id="dashboard-links">
                            <i class="far fa-gem"></i>
                            <span>Quiz History</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#" id="dashboard-links" onclick="liveEvents()">
                            <i class="fa fa-free-code-camp"
                                aria-hidden="true"></i>
                            <span>Live Events</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- sidebar-content  -->
        <div class="sidebar-footer">
            <a href="#">
                <i class="fa fa-bell"></i>
                <span
                    class="badge badge-pill badge-warning notification">3</span>
            </a>
            <a href="{% url 'logout' %}">
                <i class="fa fa-power-off"></i>
            </a>
        </div>
    </nav>
    <!-- sidebar-wrapper  -->
    <main class="page-content" id="dashboard-main">
        <div class="container-fluid" id="my-events">
            <div class="row" id="question">
                {% for event in quiz %}
                <div class="card myevent-card">
                    <div class="card-img-block text-center">
                        <img src="https://source.unsplash.com/200x200/?brainstorm,abstract,business"
                            id="card-image"> </div>
                    <div class="card-body pt-0" style="margin-top:-4rem;">
                        <h5 class="card-title">{{event.title}}</h5>
                        <p class="card-text">{{event.description}}</p>
                        {% with quiz_id=event.quiz_id %}
                        {% if event.is_live != True %}
                        <a href="#" class="btn btn-block add-question"
                            id="{{event.quiz_id}}"
                            onclick="addQuestion('{{quiz_id}}','add_question.html')">Add
                            questions</a>
                        {% else %}
                        <a href="#"
                            onclick="showDetails('{{quiz_id}}','show_question.html')"
                            class="btn btn-block add-question">Show
                            Details</a>
                        {% endif %}
                        {% endwith %}

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="container" id="live-events" style="display: none;">
            <div class="row">
                {% for event in participation %}
                <div class="card otherevent-card">
                    <div class="card-img-block text-center">
                        <img src="https://source.unsplash.com/200x200/?brainstorm,abstract,business"
                            id="card-image"> </div>
                    <div class="card-body pt-0" id="card-event">
                        <h5 class="card-title">{{event.live.title}}</h5>
                        <p></p>
                        <p class="card-text">{{event.live.owner.username}}</p>
                        <p class="card-text">{{event.live.description}}</p>
                        {% if event.status == False %}
                        <a href="{%url 'event' id=event.live.quiz_id%}"
                            class="btn btn-block add-question pb-2"
                            id="{{event.live.quiz_id}}">Participate</a>
                        {% else %}
                        {{participation.status}}
                            <p>It seems that you have already participated</p>
                        <a href="{% url 'result' quiz_id=event.live.quiz_id %}" class="btn btn-block add-question">Result</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% block dashboard %} {% endblock %}
    </main>
    <!-- page-content" -->
</div>
{%endblock%} {% block scripts %}
<script src="{% static 'user/dashboard.js' %}" type="text/javascript">
</script>
<script src="anime.min.js"></script>
{% endblock %}