{% extends 'base.html' %} {% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'user/login.css' %}">
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6 bg-color">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto login-section">
                            <h3 class="login-heading mb-4 text-center">Welcome
                                Back&nbsp;!!
                            </h3>
                            <form method="post" action="">
                                {% if form.errors %}
                                {% for field in form %}
                                {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                                {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                                {% endfor %}
                                {% endif %}
                                {% csrf_token %}
                                <div class="form-label-group">
                                    {{ form.username }}
                                </div>

                                <div class="form-label-group">
                                    {{ form.password }}
                                </div>

                                <div
                                    class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox"
                                        class="custom-control-input"
                                        id="customCheck1" />
                                    <label class="custom-control-label"
                                        for="customCheck1">Remember
                                        password</label>
                                </div>
                                <button
                                    class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                                    type="submit">
                                    Sign in
                                </button>
                                <div class="border-top text-center mt-3">
                                    <small class="text-muted">Need an account??
                                        <a href="{% url 'register' %}"
                                            role="button">Sign Up</a>
                                    </small>
                                </div>
                                <div class="text-center">
                                    <a class="small"
                                        href="{% url 'password_reset' %}">Forgot
                                        password?</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}