{% extends 'base.html' %}
{% block content %}
<div class="form-gap" style="padding-top:70px"></div>
<div class="container">
    <div class="row col-md-12">
        <div class="col-md-2"></div>
        <div class="col-md-8 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body reset-form">
                    <div>
                        <h3 class="text-center"><i class="fa fa-lock fa-4x"></i>
                        </h3>
                        <h2 class="text-center">Forgot Password?</h2>
                        <p class="text-center">You can reset your password here.
                        </p>
                        <div class="panel-body">

                            <form id="register-form" role="form"
                                autocomplete="off" class="form" method="POST">
                                {% if form.errors %}
                                {% for field in form %}
                                {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                                {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                                {% endfor %}
                                {% endif %}
                                {%csrf_token%}
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-envelope color-blue"></i></span>
                                        {{form.email}}
                                    </div>
                                </div>
                                <small class="text-muted mb-2">
                                    *Please enter a registered email.
                                </small>
                                <div class="form-group mt-2">
                                    <input name="recover-submit"
                                        class="btn btn-lg btn-primary btn-block"
                                        value="Reset Password" type="submit">
                                </div>
                                <input type="hidden" class="hide" name="token"
                                    id="token" value="">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}