{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>FeedX</title>
{% endblock %}
{% block style %}
<style>
    body {
        background: #77A1D3;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #E684AE, #79CBCA, #77A1D3);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #E684AE, #79CBCA, #77A1D3);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
</style>
{%endblock%}
{% block content %}
<div class="container">
    <section class="testimonial py-5 d-flex align-items-center"
        id="testimonial">
        <div class="row mt-5 offset-md-1 col-md-10">
            <div class="col-md-5 py-5 bg-primary text-white text-center ">
                <div class=" ">
                    <div class="card-body">
                        <img src="http://www.ansonika.com/mavia/img/registration_bg.svg"
                            style="width:30%">
                        <h2 class="py-3 register-text">Registration</h2>
                        <p class="register-text">Register yourself for creating
                            your own
                            events.
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-7 py-5 border">
                  <h4 class="pb-4 text-center">Please fill with your details</h4>
                        <div class="container" class="registration-form">
                            <form method="POST" action="">
                                {% if form.errors %}
                                {% for field in form %}
                                {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                                {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                                {% endfor %}
                                {% endif %}
                                {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                  {{form.username}}
                            </div>
                            <div class="form-group col-md-12">           
                                {{form.name}}
                            </div>
                            <div class="form-group col-md-12">
                                {{form.email}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">        
                                {{form.password1}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                
                                {{form.password2}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-row col-md-12">
                                <button type="submit"
                                    class="btn btn-danger btn-block mt-4">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}